<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_API_TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97d3ed">  <td>23/12/21 09:29:21</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;get_TC1.Teardown()[pri:0, instance:Test_package.get_TC1@63f259c3]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@194415222</td>   <td></td> </tr>
<tr bgcolor="df6e9a">  <td>23/12/21 09:29:14</td>   <td>-7157</td> <td>&nbsp;</td><td title="&gt;&gt;put_TC1.Testsetup()[pri:0, instance:Test_package.put_TC1@26ceffa8]">&gt;&gt;Testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@194415222</td>   <td></td> </tr>
<tr bgcolor="7b6699">  <td>23/12/21 09:29:18</td>   <td>-3434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_TC1.post_executor()[pri:0, instance:Test_package.post_TC1@15713d56]">post_executor</td> 
  <td>main@194415222</td>   <td></td> </tr>
<tr bgcolor="df6e9a">  <td>23/12/21 09:29:21</td>   <td>8</td> <td>&nbsp;</td><td title="&lt;&lt;put_TC1.TestTeardown()[pri:0, instance:Test_package.put_TC1@26ceffa8]">&lt;&lt;TestTeardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@194415222</td>   <td></td> </tr>
<tr bgcolor="a4d57e">  <td>23/12/21 09:29:15</td>   <td>-6253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="del_TC1.delete_executor()[pri:0, instance:Test_package.del_TC1@d771cc9]">delete_executor</td> 
  <td>main@194415222</td>   <td></td> </tr>
<tr bgcolor="7b6699">  <td>23/12/21 09:29:13</td>   <td>-8227</td> <td>&nbsp;</td><td title="&gt;&gt;post_TC1.Testsetup()[pri:0, instance:Test_package.post_TC1@15713d56]">&gt;&gt;Testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@194415222</td>   <td></td> </tr>
<tr bgcolor="97d3ed">  <td>23/12/21 09:29:08</td>   <td>-13720</td> <td>&nbsp;</td><td title="&gt;&gt;get_TC1.Testsetup()[pri:0, instance:Test_package.get_TC1@63f259c3]">&gt;&gt;Testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@194415222</td>   <td></td> </tr>
<tr bgcolor="b7f6b7">  <td>23/12/21 09:29:11</td>   <td>-10464</td> <td>&nbsp;</td><td title="&gt;&gt;patch_TC1.Testsetup()[pri:0, instance:Test_package.patch_TC1@6cc558c6]">&gt;&gt;Testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@194415222</td>   <td></td> </tr>
<tr bgcolor="b7f6b7">  <td>23/12/21 09:29:16</td>   <td>-5288</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="patch_TC1.patch_executor()[pri:0, instance:Test_package.patch_TC1@6cc558c6]">patch_executor</td> 
  <td>main@194415222</td>   <td></td> </tr>
<tr bgcolor="df6e9a">  <td>23/12/21 09:29:19</td>   <td>-1941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="put_TC1.put_executor()[pri:0, instance:Test_package.put_TC1@26ceffa8]">put_executor</td> 
  <td>main@194415222</td>   <td></td> </tr>
<tr bgcolor="97d3ed">  <td>23/12/21 09:29:19</td>   <td>-2582</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="get_TC1.get_executor()[pri:0, instance:Test_package.get_TC1@63f259c3]">get_executor</td> 
  <td>main@194415222</td>   <td></td> </tr>
<tr bgcolor="b7f6b7">  <td>23/12/21 09:29:21</td>   <td>3</td> <td>&nbsp;</td><td title="&lt;&lt;patch_TC1.TestTeardown()[pri:0, instance:Test_package.patch_TC1@6cc558c6]">&lt;&lt;TestTeardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@194415222</td>   <td></td> </tr>
<tr bgcolor="7b6699">  <td>23/12/21 09:29:21</td>   <td>5</td> <td>&nbsp;</td><td title="&lt;&lt;post_TC1.TestTeardown()[pri:0, instance:Test_package.post_TC1@15713d56]">&lt;&lt;TestTeardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@194415222</td>   <td></td> </tr>
</table>
