<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_API_Sprint2_TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7a74a4">  <td>23/12/27 22:32:29</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;patch_TC1.TestTeardown()[pri:0, instance:Test_package.patch_TC1@3b96c42e]">&lt;&lt;TestTeardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@913242382</td>   <td></td> </tr>
<tr bgcolor="7a74a4">  <td>23/12/27 22:32:28</td>   <td>-1098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="patch_TC1.patch_executor()[pri:0, instance:Test_package.patch_TC1@3b96c42e]">patch_executor</td> 
  <td>main@913242382</td>   <td></td> </tr>
<tr bgcolor="badfad">  <td>23/12/27 22:32:29</td>   <td>-3</td> <td>&nbsp;</td><td title="&lt;&lt;get_TC1.Teardown()[pri:0, instance:Test_package.get_TC1@5d066c7d]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@913242382</td>   <td></td> </tr>
<tr bgcolor="7a74a4">  <td>23/12/27 22:32:28</td>   <td>-1818</td> <td>&nbsp;</td><td title="&gt;&gt;patch_TC1.Testsetup()[pri:0, instance:Test_package.patch_TC1@3b96c42e]">&gt;&gt;Testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@913242382</td>   <td></td> </tr>
<tr bgcolor="badfad">  <td>23/12/27 22:32:29</td>   <td>-326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="get_TC1.get_executor()[pri:0, instance:Test_package.get_TC1@5d066c7d]">get_executor</td> 
  <td>main@913242382</td>   <td></td> </tr>
<tr bgcolor="badfad">  <td>23/12/27 22:32:20</td>   <td>-9252</td> <td>&nbsp;</td><td title="&gt;&gt;get_TC1.Testsetup()[pri:0, instance:Test_package.get_TC1@5d066c7d]">&gt;&gt;Testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@913242382</td>   <td></td> </tr>
</table>
