<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67b9bf">  <td>23/12/29 16:59:33</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;get_TC1.Teardown()[pri:0, instance:Test_package.get_TC1@15713d56]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1947020920</td>   <td></td> </tr>
<tr bgcolor="b46483">  <td>23/12/29 16:59:33</td>   <td>9</td> <td>&nbsp;</td><td title="&lt;&lt;put_TC1.TestTeardown()[pri:0, instance:Test_package.put_TC1@63f259c3]">&lt;&lt;TestTeardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1947020920</td>   <td></td> </tr>
<tr bgcolor="b7ae70">  <td>23/12/29 16:59:33</td>   <td>3</td> <td>&nbsp;</td><td title="&lt;&lt;patch_TC1.TestTeardown()[pri:0, instance:Test_package.patch_TC1@7a67e3c6]">&lt;&lt;TestTeardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1947020920</td>   <td></td> </tr>
<tr bgcolor="66b3e6">  <td>23/12/29 16:59:33</td>   <td>5</td> <td>&nbsp;</td><td title="&lt;&lt;post_TC1.TestTeardown()[pri:0, instance:Test_package.post_TC1@6cc558c6]">&lt;&lt;TestTeardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1947020920</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>23/12/29 16:59:20</td>   <td>-12818</td> <td>&nbsp;</td><td title="&gt;&gt;get_TC1.Testsetup()[pri:0, instance:Test_package.get_TC1@15713d56]">&gt;&gt;Testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1947020920</td>   <td></td> </tr>
<tr bgcolor="66b3e6">  <td>23/12/29 16:59:27</td>   <td>-6315</td> <td>&nbsp;</td><td title="&gt;&gt;post_TC1.Testsetup()[pri:0, instance:Test_package.post_TC1@6cc558c6]">&gt;&gt;Testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1947020920</td>   <td></td> </tr>
<tr bgcolor="b7ae70">  <td>23/12/29 16:59:24</td>   <td>-8759</td> <td>&nbsp;</td><td title="&gt;&gt;patch_TC1.Testsetup()[pri:0, instance:Test_package.patch_TC1@7a67e3c6]">&gt;&gt;Testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1947020920</td>   <td></td> </tr>
<tr bgcolor="b46483">  <td>23/12/29 16:59:28</td>   <td>-4919</td> <td>&nbsp;</td><td title="&gt;&gt;put_TC1.Testsetup()[pri:0, instance:Test_package.put_TC1@63f259c3]">&gt;&gt;Testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1947020920</td>   <td></td> </tr>
<tr bgcolor="b7fdc8">  <td>23/12/29 16:59:30</td>   <td>-3530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="del_TC1.delete_executor()[pri:0, instance:Test_package.del_TC1@5ef5c734]">delete_executor</td> 
  <td>TestNG-test=Parallel_Test_Execution-1@93560356</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>23/12/29 16:59:30</td>   <td>-3530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="get_TC1.get_executor()[pri:0, instance:Test_package.get_TC1@15713d56]">get_executor</td> 
  <td>TestNG-test=Parallel_Test_Execution-4@73689328</td>   <td></td> </tr>
<tr bgcolor="b7ae70">  <td>23/12/29 16:59:30</td>   <td>-3530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="patch_TC1.patch_executor()[pri:0, instance:Test_package.patch_TC1@7a67e3c6]">patch_executor</td> 
  <td>TestNG-test=Parallel_Test_Execution-2@678858277</td>   <td></td> </tr>
<tr bgcolor="66b3e6">  <td>23/12/29 16:59:30</td>   <td>-3530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_TC1.post_executor()[pri:0, instance:Test_package.post_TC1@6cc558c6]">post_executor</td> 
  <td>TestNG-test=Parallel_Test_Execution-3@339734447</td>   <td></td> </tr>
<tr bgcolor="b46483">  <td>23/12/29 16:59:30</td>   <td>-3530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="put_TC1.put_executor()[pri:0, instance:Test_package.put_TC1@63f259c3]">put_executor</td> 
  <td>TestNG-test=Parallel_Test_Execution-5@883349979</td>   <td></td> </tr>
</table>
