<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>API_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7b6699">  <td>23/12/29 09:29:50</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_Post.TestTeardown()[pri:0, instance:TestNGFilePrameterization.TestNG_Post@492691d7]">&lt;&lt;TestTeardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@338887787</td>   <td></td> </tr>
<tr bgcolor="7b6699">  <td>23/12/29 09:29:42</td>   <td>-7887</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_Post.Testsetup()[pri:0, instance:TestNGFilePrameterization.TestNG_Post@492691d7]">&gt;&gt;Testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@338887787</td>   <td></td> </tr>
<tr bgcolor="7b6699">  <td>23/12/29 09:29:42</td>   <td>-7784</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Post.post_executor(java.lang.String,java.lang.String)[pri:0, instance:TestNGFilePrameterization.TestNG_Post@492691d7]">post_executor</td> 
  <td>main@338887787</td>   <td></td> </tr>
</table>
