<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_API_Sprint1_TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9691f8">  <td>23/12/27 22:32:19</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;post_TC1.TestTeardown()[pri:0, instance:Test_package.post_TC1@172b013]">&lt;&lt;TestTeardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@913242382</td>   <td></td> </tr>
<tr bgcolor="74a7d4">  <td>23/12/27 22:32:15</td>   <td>-4235</td> <td>&nbsp;</td><td title="&gt;&gt;put_TC1.Testsetup()[pri:0, instance:Test_package.put_TC1@31ff43be]">&gt;&gt;Testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@913242382</td>   <td></td> </tr>
<tr bgcolor="9691f8">  <td>23/12/27 22:32:16</td>   <td>-3390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_TC1.post_executor()[pri:0, instance:Test_package.post_TC1@172b013]">post_executor</td> 
  <td>main@913242382</td>   <td></td> </tr>
<tr bgcolor="74a7d4">  <td>23/12/27 22:32:19</td>   <td>5</td> <td>&nbsp;</td><td title="&lt;&lt;put_TC1.TestTeardown()[pri:0, instance:Test_package.put_TC1@31ff43be]">&lt;&lt;TestTeardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@913242382</td>   <td></td> </tr>
<tr bgcolor="9691f8">  <td>23/12/27 22:32:11</td>   <td>-8942</td> <td>&nbsp;</td><td title="&gt;&gt;post_TC1.Testsetup()[pri:0, instance:Test_package.post_TC1@172b013]">&gt;&gt;Testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@913242382</td>   <td></td> </tr>
<tr bgcolor="74a7d4">  <td>23/12/27 22:32:18</td>   <td>-1341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="put_TC1.put_executor()[pri:0, instance:Test_package.put_TC1@31ff43be]">put_executor</td> 
  <td>main@913242382</td>   <td></td> </tr>
</table>
