<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>API_TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7ae70">  <td>23/12/29 10:09:07</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;patch_TC1.TestTeardown()[pri:0, instance:Test_package.patch_TC1@7a67e3c6]">&lt;&lt;TestTeardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1947020920</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>23/12/29 10:09:04</td>   <td>-2588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="get_TC1.get_executor()[pri:0, instance:Test_package.get_TC1@15713d56]">get_executor</td> 
  <td>TestNG-test=Serial_Test_Execution-4@339734447</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>23/12/29 10:08:56</td>   <td>-10824</td> <td>&nbsp;</td><td title="&gt;&gt;get_TC1.Testsetup()[pri:0, instance:Test_package.get_TC1@15713d56]">&gt;&gt;Testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1947020920</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>23/12/29 10:09:07</td>   <td>-4</td> <td>&nbsp;</td><td title="&lt;&lt;get_TC1.Teardown()[pri:0, instance:Test_package.get_TC1@15713d56]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1947020920</td>   <td></td> </tr>
<tr bgcolor="66b3e6">  <td>23/12/29 10:09:02</td>   <td>-4909</td> <td>&nbsp;</td><td title="&gt;&gt;post_TC1.Testsetup()[pri:0, instance:Test_package.post_TC1@6cc558c6]">&gt;&gt;Testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1947020920</td>   <td></td> </tr>
<tr bgcolor="b7ae70">  <td>23/12/29 10:09:04</td>   <td>-2588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="patch_TC1.patch_executor()[pri:0, instance:Test_package.patch_TC1@7a67e3c6]">patch_executor</td> 
  <td>TestNG-test=Serial_Test_Execution-2@1499437334</td>   <td></td> </tr>
<tr bgcolor="b7ae70">  <td>23/12/29 10:08:59</td>   <td>-7358</td> <td>&nbsp;</td><td title="&gt;&gt;patch_TC1.Testsetup()[pri:0, instance:Test_package.patch_TC1@7a67e3c6]">&gt;&gt;Testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1947020920</td>   <td></td> </tr>
<tr bgcolor="b46483">  <td>23/12/29 10:09:07</td>   <td>7</td> <td>&nbsp;</td><td title="&lt;&lt;put_TC1.TestTeardown()[pri:0, instance:Test_package.put_TC1@63f259c3]">&lt;&lt;TestTeardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1947020920</td>   <td></td> </tr>
<tr bgcolor="b46483">  <td>23/12/29 10:09:04</td>   <td>-2588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="put_TC1.put_executor()[pri:0, instance:Test_package.put_TC1@63f259c3]">put_executor</td> 
  <td>TestNG-test=Serial_Test_Execution-5@73689328</td>   <td></td> </tr>
<tr bgcolor="b7fdc8">  <td>23/12/29 10:09:04</td>   <td>-2588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="del_TC1.delete_executor()[pri:0, instance:Test_package.del_TC1@5ef5c734]">delete_executor</td> 
  <td>TestNG-test=Serial_Test_Execution-1@2053136992</td>   <td></td> </tr>
<tr bgcolor="b46483">  <td>23/12/29 10:09:03</td>   <td>-3849</td> <td>&nbsp;</td><td title="&gt;&gt;put_TC1.Testsetup()[pri:0, instance:Test_package.put_TC1@63f259c3]">&gt;&gt;Testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1947020920</td>   <td></td> </tr>
<tr bgcolor="66b3e6">  <td>23/12/29 10:09:07</td>   <td>3</td> <td>&nbsp;</td><td title="&lt;&lt;post_TC1.TestTeardown()[pri:0, instance:Test_package.post_TC1@6cc558c6]">&lt;&lt;TestTeardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1947020920</td>   <td></td> </tr>
<tr bgcolor="66b3e6">  <td>23/12/29 10:09:04</td>   <td>-2587</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_TC1.post_executor()[pri:0, instance:Test_package.post_TC1@6cc558c6]">post_executor</td> 
  <td>TestNG-test=Serial_Test_Execution-3@678858277</td>   <td></td> </tr>
</table>
